# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore build and test binaries.
.github/
.idea/
.vscode/

.git/
.gitignore
.dockerignore
Dockerfile

doc/
**/LICENSE
**/*.md

bin/

api/**/zz_generated.deepcopy.go
